In [1]:
import warnings

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# warnings.filterwarnings("ignore")  # Disabling warnings

In [2]:
df = pd.read_csv("./h2h_assignment_dataset.csv")
df.head(10)

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,U001,0200769623,WAL-MAR corp,2020-02-11 00:00:00,2020.0,1.930438e+09,2020-01-26,20200125,20200126,20200210.0,USD,RV,1.0,NaN,54273.28,20200126.0,NAH4,1.930438e+09,0
1,U001,0200980828,BEN E,2019-08-08 00:00:00,2019.0,1.929646e+09,2019-07-22,20190722,20190722,20190811.0,USD,RV,1.0,NaN,79656.60,20190722.0,NAD1,1.929646e+09,0
2,U001,0200792734,MDV/ trust,2019-12-30 00:00:00,2019.0,1.929874e+09,2019-09-14,20190914,20190914,20190929.0,USD,RV,1.0,NaN,2253.86,20190914.0,NAA8,1.929874e+09,0
3,CA02,0140105686,SYSC llc,NaN,2020.0,2.960623e+09,2020-03-30,20200330,20200330,20200410.0,CAD,RV,1.0,NaN,3299.70,20200331.0,CA10,2.960623e+09,1
4,U001,0200769623,WAL-MAR foundation,2019-11-25 00:00:00,2019.0,1.930148e+09,2019-11-13,20191113,20191113,20191128.0,USD,RV,1.0,NaN,33133.29,20191113.0,NAH4,1.930148e+09,0
5,CA02,0140106181,THE corporation,2019-12-04 00:00:00,2019.0,2.960581e+09,2019-09-20,20190920,20190920,20191004.0,CAD,RV,1.0,NaN,22225.84,20190924.0,CA10,2.960581e+09,0
6,U001,0200769623,WAL-MAR in,2019-11-12 00:00:00,2019.0,1.930083e+09,2019-11-01,20191031,20191101,20191116.0,USD,RV,1.0,NaN,7358.49,20191101.0,NAH4,1.930083e+09,0
7,U001,0200744019,TARG us,NaN,2020.0,1.930659e+09,2020-03-19,20200318,20200319,20200403.0,USD,RV,1.0,NaN,11173.02,20200319.0,NAA8,1.930659e+09,1
8,U001,0200769623,WAL-MAR corp,2019-06-18 00:00:00,2019.0,1.929440e+09,2019-06-07,20190605,20190607,20190622.0,USD,RV,1.0,NaN,15995.04,20190607.0,NAH4,1.929440e+09,0
9,U001,0200762301,C&S WH systems,2019-03-06 00:00:00,2019.0,1.928819e+09,2019-02-20,20190219,20190220,20190307.0,USD,RV,1.0,NaN,28.63,20190220.0,NAC6,1.928819e+09,0

In [3]:
df.shape  # Getting the dimensions of the dataset

(50000, 19)

## Finding Count of Unique Values

In [4]:
df.nunique().sort_values(ascending=False)

doc_id                    48839
invoice_id                48833
total_open_amount         44349
name_customer              4197
cust_number                1425
due_in_date                 547
document_create_date        507
posting_date                506
document_create_date.1      506
baseline_create_date        506
clear_date                  403
cust_payment_terms           74
business_code                 6
document type                 2
invoice_currency              2
buisness_year                 2
isOpen                        2
posting_id                    1
area_business                 0
dtype: int64

## Calculating the Sum of NaN

In [5]:
df.isnull().sum().sort_values(ascending=False)

area_business             50000
clear_date                10000
invoice_id                    6
business_code                 0
invoice_currency              0
cust_payment_terms            0
baseline_create_date          0
total_open_amount             0
posting_id                    0
document type                 0
due_in_date                   0
cust_number                   0
document_create_date.1        0
document_create_date          0
posting_date                  0
doc_id                        0
buisness_year                 0
name_customer                 0
isOpen                        0
dtype: int64

# Null Value Imputation
## Filtering "clear_date" column

> This separation would be the first step towards filtering and estimating the payment date

In [9]:
clear_date_filter = df["clear_date"].notnull()
df_clear_date = df[clear_date_filter].copy()

df_clear_date.loc[0:9, ["clear_date"]]  # Printing the first 10 clear_dates

            clear_date
0  2020-02-11 00:00:00
1  2019-08-08 00:00:00
2  2019-12-30 00:00:00
4  2019-11-25 00:00:00
5  2019-12-04 00:00:00
6  2019-11-12 00:00:00
8  2019-06-18 00:00:00
9  2019-03-06 00:00:00

In [19]:
df_clear_date.nunique()

business_code                 6
cust_number                1344
name_customer              3889
clear_date                  403
buisness_year                 2
doc_id                    39158
posting_date                424
document_create_date        427
document_create_date.1      424
due_in_date                 491
invoice_currency              2
document type                 2
posting_id                    1
area_business                 0
total_open_amount         35664
baseline_create_date        431
cust_payment_terms           70
invoice_id                39152
isOpen                        1
dtype: int64

 **Confirming there are no `null` in "clear_dates" column**

In [11]:
clear_date_filter.isnull().sum()  # Should print 0, representing no null values

0

## Returning the NaN clear_dates

> Tilde `~` operator is used to invert a filter in pandas. [Documentation](https://blog.finxter.com/tilde-python-pandas-dataframe/#:~:text=Python's%20Tilde%20~n%20operator%20is,1%20and%20~101%20becomes%20010%20.)

In [16]:
null_clear_dates = df[~clear_date_filter].copy()

null_clear_dates["clear_date"].head(10)  # First 10 NaN from clear_date

3     NaN
7     NaN
10    NaN
14    NaN
15    NaN
22    NaN
25    NaN
27    NaN
35    NaN
37    NaN
Name: clear_date, dtype: object

**Checking the number of unique values**

In [17]:
null_clear_dates.nunique()

business_code                6
cust_number                694
name_customer             1766
clear_date                   0
buisness_year                1
doc_id                    9681
posting_date                83
document_create_date        91
document_create_date.1      83
due_in_date                124
invoice_currency             2
document type                1
posting_id                   1
area_business                0
total_open_amount         9079
baseline_create_date        83
cust_payment_terms          43
invoice_id                9681
isOpen                       1
dtype: int64

In [24]:
data_na_test = null_clear_dates.copy()  # Setting aside the test data, will be handy at last for predicting the expected payment date.

## Schema definition for the above copied dataframe (test-dataset)

In [26]:
data_na_test.dtypes

business_code              object
cust_number                object
name_customer              object
clear_date                 object
buisness_year             float64
doc_id                    float64
posting_date               object
document_create_date        int64
document_create_date.1      int64
due_in_date               float64
invoice_currency           object
document type              object
posting_id                float64
area_business             float64
total_open_amount         float64
baseline_create_date      float64
cust_payment_terms         object
invoice_id                float64
isOpen                      int64
dtype: object